{% if S_QTE_SELECT %}
<dl>
	<dt><label for="attribute">{{ lang('QTE_ATTRIBUTE') ~ lang('COLON') }}</label></dt>
	<dd>
		<select name="attr_id" id="attribute">
		{% if not S_QTE_EMPTY %}
			<option value="-2" style="font-weight: bold;"{% if S_QTE_KEEP %} selected="selected"{% endif %}>{{ lang('QTE_ATTRIBUTE_KEEP') }}</option>
			{% if S_QTE_DELETE %}<option value="-1"{% if S_QTE_SELECTED %} selected="selected"{% endif %}>{{ lang('QTE_ATTRIBUTE_DELETE') }}</option>{% endif %}
		{% endif %}
		{% if S_QTE_EMPTY %}<option value="0"{% if S_QTE_SELECTED %} selected="selected"{% endif %} style="font-weight: bold;{% if S_QTE_EMPTY %} color: #808080;{% endif %}">{{ lang('QTE_ATTRIBUTE_ADD') }}</option>{% endif %}
		{% for attribute in attributes %}
			<option value="{{ attribute.QTE_ID }}"{{ attribute.QTE_COLOUR }}{% if attribute.S_SELECTED %} selected="selected"{% endif %}>{{ attribute.QTE_NAME }}{% if attribute.S_QTE_DESC %} [{{ attribute.QTE_DESC }}]{% endif %}</option>
		{% endfor %}
		</select>
	</dd>
</dl>
{% endif %}
